.work {
  & .work-filter .headroom {
    padding-left: 41px !important;
  }
  & .work-filter .headroom--unfixed {
    padding-left: 0px !important;
  }
  /* & .work-filter .headroom--pinned,
  & .work-filter .headroom--scrolled,
  & .work-filter .headroom--unpinned {
    @media (min-width: 1000px) {
      left: 41px !important;
    }
  } */
}
